# Node.js stuff
node_modules/
package-lock.json

# Tailwind output
# dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/
